<!DOCTYPE html>
<html lang="en">
  <%- include('partials/admin/head') %>
  <body>
    <div class="container">
      <div class="row">
        <h1>hello world from admin layout</h1>
        <%- body %>
      </div>
      <%- include('partials/admin/footer') %>
    </div>
    
  </body>
  
</html>


